external
private

*.class

images/sagas
images/microservices
images/rpcs
images/web_services-vs-message_brokers
images/common_application_architectures
images/rmi_anatomy

images/genealogy-of-middleware.svg
images/middleware.svg
images/rpc_vs_rmi.svg
images/ws-protocol_stack.svg
images/historic_middleware_technologies.svg
images/historische-middleware-konzeptuell.svg
images/rpc_konzeptionell.svg
images/java_rmi-distributed-object-model.svg