<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>65</integer>
	<key>Time Stamp</key>
	<real>1698789028.05708</real>
	<key>UUID</key>
	<string>BD78AC4D-AE77-4EC7-95F1-4A475FDF1998</string>
</dict>
</plist>
